main {
    background-color: var(--bg);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main >form > input {
    padding: 1em;
    border-radius: 10px;
    outline: var(--border) 2px solid;
    border: none;
    &:focus {
        outline-width: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
    }
}

form > div:last-of-type {
    display: flex;
    gap: 2em;
}

#alert {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1em;
    margin-right: 1em;
    padding: 1em;
    border-radius: 10px;
    border: var(--border) 2px solid;
    font-family: roboto;
    font-weight: bold;
    transform: translate(calc(100% + 1em) , 0);
    transition: all 0.2s ease-out;
    display: none;
}

#alert.show {
    display: block;
    transform: translate(0 , 0);

}

